.security-message {
  font-size: var(--size-font-small);
  font-weight: 500;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.security-message > span {
  display: block;
  color: #ffa03d;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}

@media (min-width: 980px) {
  .security-message > span {
    display: inline;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
